
Ex4/Placa/History/

Ex4/Placa/Project Logs for PCB_Project1/

Ex4/Placa/Project Outputs for PCB_Project1/

Ex4/Placa/debug.log

Ex4/Informe/main.aux

Ex4/Informe/main.log

Ex4/Informe/main.synctex.gz
