
Ex4/Placa/History/

Ex4/Placa/Project Logs for PCB_Project1/

Ex4/Placa/Project Outputs for PCB_Project1/

Ex4/Placa/debug.log

Ex4/Informe/main.aux

Ex4/Informe/main.log

Ex4/Informe/main.synctex.gz

Ex4/Informe/amp_inst.tex.bak

Ex4/Informe/ej4.tex.bak

Ex4/Informe/main.tex.bak

Ex4/Informe/preamble.tex.bak

Ex4/Simulacion/IA_CM_AC.asc

Ex4/Simulacion/IA_CM_AC.log

Ex4/Simulacion/IA_CM_AC.op.raw

Ex4/Simulacion/IA_CM_AC.raw

Ex4/Simulacion/IA_CM_DC.asc

Ex4/Simulacion/IA_CM_DC.log

Ex4/Simulacion/IA_CM_DC.raw

Ex4/Simulacion/IA_DM_AC.asc

Ex4/Simulacion/IA_DM_AC.log

Ex4/Simulacion/IA_DM_AC.op.raw

Ex4/Simulacion/IA_DM_AC.plt

Ex4/Simulacion/IA_DM_AC.raw

Ex4/Simulacion/IA_DM_DC.asc

Ex4/Simulacion/IA_DM_DC.log

Ex4/Simulacion/IA_DM_DC.plt

Ex4/Simulacion/IA_DM_DC.raw

Ex4/Placa/__Previews/

Ex4/Informe/ej4.log

Ex4/Simulacion/IA_CM.raw

Ex4/Simulacion/IA_CM.log

Ex4/Simulacion/IA_DM.log

Ex4/Simulacion/IA_DM.raw

Ex4/Simulacion/sloj070.zip

Ex4/Simulacion/TL082.301
